<section class="cardReset">
  <h1>ALTERAR SENHA</h1>
  <div class="textReset">
    <p>
      Informe o email associado a sua conta e enviaremos um link com as
      instruções
    </p>
  </div>
  <div class="textField">
    <input
      type="email"
      name="emailReset"
      id="idEmailReset"
      placeholder="Email"
      [(ngModel)]="email"
      required
    />
  </div>
  <button class="btnReset" (click)="resetPassword()" [disabled]="loading || !email">
    <span *ngIf="!loading">Alterar</span>
    <div class="custom-spinner" *ngIf="loading"></div>
  </button>
</section>
