<common-sidebar>
  <mat-card *ngIf="!loading" admin>
    <mat-card-content>
      <mat-toolbar>
        <span>Pedidos de AF</span>
        <span class="spacer"></span>
        <div class="btnCreate">
          <button mat-raised-button class="btn" (click)="openModal()">
            Criar
          </button>
        </div>
      </mat-toolbar>

      <table
        mat-table
        [dataSource]="response?.results"
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Id</th>
          <td mat-cell *matCellDef="let materialsOrder">
            {{ materialsOrder.id }}
          </td>
        </ng-container>

        <ng-container matColumnDef="supplier">
          <th mat-header-cell *matHeaderCellDef>Fornecedor</th>
          <td mat-cell *matCellDef="let materialsOrder">
            {{ materialsOrder.supplier.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="date_range">
          <th mat-header-cell *matHeaderCellDef>Intervalo de Datas</th>
          <td mat-cell *matCellDef="let materialsOrder">
            {{ formatRange(materialsOrder.date_range) }}
          </td>
        </ng-container>

        <ng-container matColumnDef="created">
          <th mat-header-cell *matHeaderCellDef>Criado</th>
          <td mat-cell *matCellDef="let materialsOrder">
            {{ formatDate(materialsOrder.created) }}
          </td>
        </ng-container>

        <ng-container matColumnDef="file">
          <th mat-header-cell *matHeaderCellDef>Baixar arquivo</th>
          <td mat-cell *matCellDef="let materialsOrder">
            <div class="button-container">
              <button
                class="btn"
                mat-mini-fab
                aria-label="download"
                (click)="downloadMaterialsOrder(materialsOrder.file)"
              >
                <mat-icon>download</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="deleteMaterialOrder">
          <th mat-header-cell *matHeaderCellDef>Excluir</th>
          <td mat-cell *matCellDef="let materialsOrder">
            <div class="button-container">
              <button
                class="btn"
                mat-mini-fab
                aria-label="Delete order"
                (click)="deleteItem(materialsOrder.id)"
              >
                <mat-icon
                  [class.custom-spinner]="
                    loadingMaterialOrder === materialsOrder.id
                  "
                  >delete</mat-icon
                >
              </button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <app-pagination
        [currentPage]="currentPage"
        [response]="response"
        (pageChange)="onPageChange($event)"
      ></app-pagination>
    </mat-card-content>
  </mat-card>
</common-sidebar>
<div class="initial-custom-spinner" *ngIf="loading"></div>
