<admin-sidebar>
  <mat-card>
    <mat-card-content>
      <mat-toolbar>
        <span>Fornecedores</span>
        <span class="spacer"></span>
        <div class="btnCreate">
          <button mat-raised-button class="btn" (click)="openCreateModal()">
            Criar
          </button>
        </div>
      </mat-toolbar>

      <table mat-table [dataSource]="response" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Id</th>
          <td mat-cell *matCellDef="let suppliers">
            {{ suppliers.id }}
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Nome</th>
          <td mat-cell *matCellDef="let suppliers">
            {{ suppliers.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="agent">
          <th mat-header-cell *matHeaderCellDef>Agente</th>
          <td mat-cell *matCellDef="let suppliers">
            {{ suppliers.agent }}
          </td>
        </ng-container>

        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef>Endereço</th>
          <td mat-cell *matCellDef="let suppliers">
            {{ suppliers.address }}
          </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>E-mail</th>
          <td mat-cell *matCellDef="let suppliers">
            {{ suppliers.email }}
          </td>
        </ng-container>

        <ng-container matColumnDef="contact">
          <th mat-header-cell *matHeaderCellDef>Contato</th>
          <td mat-cell *matCellDef="let suppliers">
            {{ suppliers.phone }}
          </td>
        </ng-container>

        <ng-container matColumnDef="cnpj">
          <th mat-header-cell *matHeaderCellDef>CNPJ</th>
          <td mat-cell *matCellDef="let suppliers">
            {{ suppliers.ein }}
          </td>
        </ng-container>

        <ng-container matColumnDef="cpf">
          <th mat-header-cell *matHeaderCellDef>CPF</th>
          <td mat-cell *matCellDef="let suppliers">
            {{ suppliers.ssn }}
          </td>
        </ng-container>

        <ng-container matColumnDef="rg">
          <th mat-header-cell *matHeaderCellDef>RG</th>
          <td mat-cell *matCellDef="let suppliers">
            {{ suppliers.nic }}
          </td>
        </ng-container>

        <ng-container matColumnDef="ordersSuppliers">
          <th mat-header-cell *matHeaderCellDef>Pedidos</th>
          <td mat-cell *matCellDef="let adminSuppliers">
            <div class="button-container">
              <button
                class="btn"
                mat-mini-fab
                color="white"
                aria-label="Nav measure"
                (click)="navToSupplierOrders(adminSuppliers.id)"
              >
                <mat-icon>exit_to_app</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="editSuppliers">
          <th mat-header-cell *matHeaderCellDef>Editar</th>
          <td mat-cell *matCellDef="let adminSuppliers">
            <div class="button-container">
              <button
                class="btn"
                mat-mini-fab
                color="white"
                aria-label="Edit measure"
                (click)="openModal(adminSuppliers)"
              >
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="deleteSuppliers">
          <th mat-header-cell *matHeaderCellDef>Excluir</th>
          <td mat-cell *matCellDef="let adminSuppliers">
            <div class="button-container">
              <button
                class="btn"
                mat-mini-fab
                aria-label="Delete measure"
                (click)="deleteSupplier(adminSuppliers.id)"
              >
                <mat-icon [class.custom-spinner]="loading === adminSuppliers.id">delete</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <app-pagination
        [currentPage]="currentPage"
        [response]="response"
        (pageChange)="onPageChange($event)"
      ></app-pagination>
    </mat-card-content>
  </mat-card>
</admin-sidebar>
