@import '../../../../colors.scss';

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

section {
  display: table;
  padding-left: 20px;
}

.btnCreate {
  display: table-cell;
  max-width: 600px;
  .btn {
    background-color: $primary-color;
color: $primary-text-color;;
  }
}

.btnCreate .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.button-container {
  .btn {
    background-color: $primary-color;
    color: $primary-text-color;;
  }
}

.mat-toolbar .spacer {
  flex: 1 1 auto;
}

.custom-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
