@import '../../../../colors.scss';

section {
  display: table;
  padding-left: 20px;
}

.spacer {
  flex: 1 1 auto;
}

.download {
  background-color: $primary-button-color;
}

.btnCreate {
  display: table-cell;
  max-width: 600px;
}

.btnCreate .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}
