@import '../../../../colors.scss';

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

section {
  display: table;
  padding-left: 20px;
}

.spacer {
  flex: 1 1 auto;
}

.download {
  background-color: $primary-button-color;
}

.btnCreate {
  display: table-cell;
  max-width: 600px;
}

.btnCreate .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}
