<!-- http://localhost:4200/admin-setores -->
<admin-sidebar>
  <mat-card>
    <mat-card-content>
      <mat-toolbar>
        <span>Setores</span>
      </mat-toolbar>

      <table mat-table [dataSource]="response" class="mat-elevation-z8">
        <!-- id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Id</th>
          <td mat-cell *matCellDef="let sectors">{{ sectors.id }}</td>
        </ng-container>

        <!-- Nome Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Nome</th>
          <td mat-cell *matCellDef="let sectors">
            {{ sectors.name }}
          </td>
        </ng-container>

        <!-- Defensoria Column -->
        <ng-container matColumnDef="public_defense">
          <th mat-header-cell *matHeaderCellDef>Defensoria</th>
          <td mat-cell *matCellDef="let sectors">
            {{ sectors.public_defense.name }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <app-pagination
        [currentPage]="currentPage"
        [response]="response"
        (pageChange)="onPageChange($event)"
      ></app-pagination>
    </mat-card-content>
  </mat-card>
</admin-sidebar>
