@import '../../../../../colors.scss';

.button-container,
.btnCreate {
  .btn {
    background-color: $primary-color;
    color: $primary-text-color;
  }
}

.btnCreate {
  margin: 0.5rem 1.25rem;
  .btn {
    background-color: $primary-color;
    color: $primary-text-color;
  }
}
