@import '../../../../../colors.scss';

.button-container {
    .btn {
        background-color: $primary-color;
        color: $primary-text-color;
    }
}

.mat-toolbar .spacer {
    flex: 1 1 auto;
}
