<h1 mat-dialog-title>Pedido do Fornecedor</h1>
<div [formGroup]="formSupplierOrder" mat-dialog-content class="content">
  <p>Prazo de Entrega</p>
  <mat-form-field appearance="fill">
    <input type="date" matInput formControlName="delivery_date" />
  </mat-form-field>
  <p>Recebido</p>
  <mat-form-field appearance="fill">
    <mat-select formControlName="received">
      <mat-option [value]="true">Sim</mat-option>
      <mat-option [value]="false">Não</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions class="actions">
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button (click)="onClick()" cdkFocusInitial>Salvar</button>
</div>
