<!-- http://localhost:4200/admin-pedidos-fornecedor -->
<admin-sidebar>
  <mat-card>
    <mat-card-content>
      <mat-toolbar>
        <span>Pedidos do Fornecedor</span>
      </mat-toolbar>

      <table mat-table [dataSource]="supplierOrders" class="mat-elevation-z8">
        <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

        <!-- id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Id</th>
          <td mat-cell *matCellDef="let supplierOrders">
            {{ supplierOrders.id }}
          </td>
        </ng-container>

        <!-- Ata Column -->
        <ng-container matColumnDef="protocol">
          <th mat-header-cell *matHeaderCellDef>Ata</th>
          <td mat-cell *matCellDef="let supplierOrders">
            {{ supplierOrders.protocol.code }}
          </td>
        </ng-container>

        <!-- Recebido Column -->
        <ng-container matColumnDef="received">
          <th mat-header-cell *matHeaderCellDef>Recebido</th>
          <td mat-cell *matCellDef="let supplierOrders">
            {{ supplierOrders.received ? 'Sim' : 'Não' }}
          </td>
        </ng-container>

        <!-- Prazo de Entrega Column -->
        <ng-container matColumnDef="delivery_date">
          <th mat-header-cell *matHeaderCellDef>Prazo de Entrega</th>
          <td mat-cell *matCellDef="let supplierOrders">
            {{ formatDate(supplierOrders.delivery_date) }}
          </td>
        </ng-container>

        <!-- Criado Column -->
        <ng-container matColumnDef="created">
          <th mat-header-cell *matHeaderCellDef>Criado</th>
          <td mat-cell *matCellDef="let supplierOrders">
            {{ formatDate(supplierOrders.created) }}
          </td>
        </ng-container>

        <!-- Atualizado Column -->
        <ng-container matColumnDef="updated">
          <th mat-header-cell *matHeaderCellDef>Atualizado</th>
          <td mat-cell *matCellDef="let supplierOrders">
            {{ formatDate(supplierOrders.updated) }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          (click)="navToSupplierOrderItems(row.id)"
        ></tr>
      </table>
    </mat-card-content>
  </mat-card>
</admin-sidebar>
