<admin-sidebar>
  <mat-card>
    <mat-card-content>
      <mat-toolbar>
        <span>Categorias</span>
        <span class="spacer"></span>
        <div class="btnCreate">
          <button mat-raised-button class="btn" (click)="openCreateModal()">
            Criar
          </button>
        </div>
      </mat-toolbar>

      <table mat-table [dataSource]="response" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Id</th>
          <td mat-cell *matCellDef="let categories">
            {{ categories.id }}
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Nome</th>
          <td mat-cell *matCellDef="let categories">
            {{ firstLetterOnCapital(categories.name) }}
          </td>
        </ng-container>

        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef>Natureza de Despesa</th>
          <td mat-cell *matCellDef="let categories">
            {{ categories.code }}
          </td>
        </ng-container>

        <ng-container matColumnDef="editCategory">
          <th mat-header-cell *matHeaderCellDef>Editar</th>
          <td mat-cell *matCellDef="let categories">
            <div class="button-container">
              <button
                class="btn"
                mat-mini-fab
                color="white"
                aria-label="Edit category"
                (click)="openEditModal(categories)"
              >
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="deleteCategory">
          <th mat-header-cell *matHeaderCellDef>Excluir</th>
          <td mat-cell *matCellDef="let categories">
            <div class="button-container">
              <button
                class="btn"
                mat-mini-fab
                aria-label="Delete category"
                (click)="deleteCategory(categories.id)"
              >
                <mat-icon [class.custom-spinner]="loading === categories.id">delete</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <app-pagination
        [currentPage]="currentPage"
        [response]="response"
        (pageChange)="onPageChange($event)"
      ></app-pagination>
    </mat-card-content>
  </mat-card>
</admin-sidebar>
