@import '../../../../../colors.scss';

.snackbar-success {
  background-color: green;
  color: white;
}

.snackbar-error {
  background-color: red;
  color: white;
}

.btn {
  background-color: $primary-color;
  color: $primary-text-color;
}

.small-input {
  width: 100px;
}
