.snackbar-success {
  background-color: green;
  color: white;
}

.snackbar-error {
  background-color: red;
  color: white;
}

.btn {
  background-color: #cc2229;
}

.small-input {
  width: 100px;
}
