<h1 mat-dialog-title>Criar</h1>
<div [formGroup]="formSupplierOrders" mat-dialog-content class="content">
  <!--  <p>Nome</p>
  <mat-form-field appearance="fill">
    <mat-select formControlName="name">
      <mat-option *ngFor="let supplier of data.Protocols" [value]="supplier.id"
        >{{ supplier.name }}
      </mat-option>
    </mat-select>
  </mat-form-field> 
-->
  <p>Produto</p>
  <mat-form-field appearance="fill">
    <mat-select formControlName="product">
      <mat-option
        *ngFor="let product of data.products"
        [value]="product.product.id"
        >{{ firstLetterOnCapital(product.product.name) }}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <p>Quantidade</p>
  <mat-form-field appearance="fill">
    <input type="number" matInput formControlName="quantity" />
  </mat-form-field>
</div>

<div mat-dialog-actions class="actions">
  <button mat-button (click)="onNoClick()"></button>
  <button mat-button (click)="onClick()" cdkFocusInitial>Salvar</button>
</div>
