@import '../../../../../../colors.scss';

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 60vw;
}

p {
  align-self: flex-start;
  margin-left: 2.5%;
}

.actions {
  display: flex;
  justify-content: flex-end;
  .cancel {
    background-color: $secondary-button-color;
  }
  .proceed {
    background-color: $primary-button-color;
  }
}

button {
  width: 15%;
}

mat-form-field {
  min-width: 95%;
}
