<h1 mat-dialog-title>Criar</h1>
<div [formGroup]="formCreateProtocols" mat-dialog-content class="content">
  <p>Código</p>
  <mat-form-field appearance="fill">
    <input type="text" matInput formControlName="code" />
  </mat-form-field>
  <p>Fornecedor</p>
  <mat-form-field appearance="fill">
    <mat-select formControlName="supplier">
      <mat-option *ngFor="let supplier of data.suppliers" [value]="supplier.id">
        {{ supplier.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <p>Categoria</p>
  <mat-form-field appearance="fill">
    <mat-select formControlName="category">
      <mat-option *ngFor="let category of data.categories" [value]="category.id">
        {{ category.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="custom-file-input">
    <label for="fileInput" class="file-label">Escolher arquivo</label>
    <input type="file" id="fileInput" (change)="onFileChange($event)" />
  </div>
  <div *ngIf="selectedFile" class="file-info">
    Arquivo selecionado: {{ selectedFile.name }}
  </div>
</div>
<div mat-dialog-actions class="actions">
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button (click)="onClick()" cdkFocusInitial>Criar</button>
</div>
