<h1 mat-dialog-title>Adicionar ao Controle de Notas?</h1>
<div [formGroup]="formOrder" mat-dialog-content class="content">
  <div class="form-row">
    <mat-form-field class="form-field">
      <input matInput formControlName="code" placeholder="Código" required />
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-select formControlName="supplier" placeholder="Fornecedor" required>
        <mat-option *ngFor="let supplier of suppliers" [value]="supplier.id">{{
          supplier.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-select
        formControlName="public_defense"
        placeholder="Núcleo"
        required
      >
        <mat-option
          *ngFor="let publicDefense of public_defenses"
          [value]="publicDefense.id"
          >{{ publicDefense.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <mat-form-field class="form-field">
      <input
        matInput
        formControlName="total_value"
        placeholder="Valor"
        required
      />
    </mat-form-field>
  </div>

  <object [data]="fileData" type="application/pdf" width="100%" height="500px">
    <p>
      Seu navegador não suporta PDFs.
      <a [href]="fileData" target="_blank">Clique aqui para baixar.</a>
    </p>
  </object>
</div>
<div mat-dialog-actions class="actions">
  <button *ngIf="!loading" mat-button class="cancel" (click)="onNoClick()">
    Não
  </button>
  <button
    *ngIf="!loading"
    mat-button
    class="proceed"
    (click)="onClick()"
    cdkFocusInitial
    [disabled]="!formOrder.valid"
  >
    Sim
  </button>
  <div class="custom-spinner" *ngIf="loading"></div>
</div>
