<admin-sidebar>
  <div class="container">
    <mat-card>
      <mat-toolbar>
        <span>Pedir</span>
      </mat-toolbar>
      <mat-card-content>
        <p class="textField">Fornecedor</p>
        <mat-form-field appearance="fill">
          <mat-select>
            <mat-option
              *ngFor="let supplier of suppliers"
              [value]="supplier.id"
              >{{ supplier.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <p class="textField">Ata</p>
        <mat-form-field appearance="fill">
          <mat-select>
            <mat-option
              *ngFor="let protocol of protocols"
              [value]="protocol.id"
              >{{ protocol.code }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <p class="textField">Defensoria</p>
        <mat-form-field appearance="fill">
          <mat-select>
            <mat-option
              *ngFor="let public_defense of public_defenses"
              [value]="public_defense.id"
              >{{ public_defense.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <div class="btnRequest">
          <button mat-raised-button color="warn">Salvar</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</admin-sidebar>
