<user-sidebar>
  <mat-card>
    <mat-card-content>
      <mat-toolbar>
        <span>Saídas</span>
        <span class="spacer"></span>
        <div class="btnCreate">
          <button mat-raised-button class="btn" (click)="openModal()">
            Criar
          </button>
        </div>
      </mat-toolbar>

      <table
        mat-table
        [dataSource]="response?.results"
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef>Quantidade</th>
          <td mat-cell *matCellDef="let withdrawals">
            {{ withdrawals.withdraw_quantity }}
          </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Descrição</th>
          <td mat-cell *matCellDef="let withdrawals">
            {{ withdrawals.description }}
          </td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Data</th>
          <td mat-cell *matCellDef="let withdrawals">
            {{ formatDate(withdrawals.withdraw_date) }}
          </td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef>Excluir</th>
          <td mat-cell *matCellDef="let withdrawals">
            <div class="button-container">
              <button
                class="btn"
                mat-mini-fab
                aria-label="Delete order"
                (click)="deleteWithdraw(withdrawals.id)"
              >
                <mat-icon [class.custom-spinner]="loading === withdrawals.id">delete</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <app-user-pagination
        [currentPage]="currentPage"
        [response]="response"
        (pageChange)="onPageChange($event)"
        [page]="page"
      ></app-user-pagination>
    </mat-card-content>
  </mat-card>
</user-sidebar>
