<admin-sidebar>
  <mat-card>
    <mat-card-content>
      <mat-toolbar>
        <span>Estoque</span>
      </mat-toolbar>

      <table mat-table [dataSource]="response" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Id</th>
          <td mat-cell *matCellDef="let stocks">{{ stocks.id }}</td>
        </ng-container>

        <ng-container matColumnDef="sector">
          <th mat-header-cell *matHeaderCellDef>Setor</th>
          <td mat-cell *matCellDef="let stocks">{{ stocks.sector }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          (click)="navigateToStockItems(row.id)"
        ></tr>
      </table>
      <app-pagination
        [currentPage]="currentPage"
        [response]="response"
        (pageChange)="onPageChange($event)"
      ></app-pagination>
    </mat-card-content>
  </mat-card>
</admin-sidebar>
