@import '../../../../colors.scss';

.toolbar-and-button {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.button-container {
  margin-left: auto;
  .order-button {
    margin-left: 16px;
    background-color: $primary-color;
    color: $primary-text-color;
  }
  .order-button:disabled {
    background-color: rgba($primary-color-disabled, 1);
    color: rgba($primary-text-color-disabled, 0.75);
  }
}

.filter-and-button {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.filter-container {
  flex-grow: 1;
}

table {
  width: 100%;
}

section {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}

.btnOrder {
  margin-left: auto;
}

.btnOrder .mat-mdc-button-base {
  margin-right: 8px;
}

td,
th {
  text-align: center !important;
  vertical-align: middle !important;
}

.mat-sort-header-container {
  justify-content: center !important;
}

.mat-column-name {
  max-width: 50px;
}

table.mat-table {
  td.mat-cell {
    padding: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.mat-column-name {
  max-width: 200px;
}
