@import '../../../../colors.scss';

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.toolbar-and-button {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.search-bar {
  margin-left: 16px;
}

.button-container {
  margin-left: auto;
  .order-button {
    margin-left: 16px;
    background-color: $primary-color;
    color: $primary-text-color;
  }
  .order-button:disabled {
    background-color: rgba($primary-color-disabled, 1);
    color: rgba($primary-text-color-disabled, 0.75);
  }
}

.filter-and-button {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.filter-container {
  flex-grow: 1;
  margin-top: 10px;
  margin-left: 20px;
}

table {
  width: 100%;
}

section {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}

.btnOrder {
  margin-left: auto;
}

.btnOrder .mat-mdc-button-base {
  margin-right: 8px;
}

td,
th {
  text-align: center !important;
  vertical-align: middle !important;
}

.mat-sort-header-container {
  justify-content: center !important;
}

.mat-column-name {
  max-width: 50px;
}

table.mat-table {
  td.mat-cell {
    padding: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.mat-column-name {
  max-width: 200px;
}

.custom-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border: 2px solid #ccc;
  border-top-color: #000;
  border-radius: 50%;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
