<h1 mat-dialog-title>Fornecedor</h1>
<div [formGroup]="formSuppliers" mat-dialog-content class="content">
  <p>Nome</p>
  <mat-form-field appearance="fill">
    <input type="text" matInput formControlName="name" />
  </mat-form-field>
  <p>Responsável</p>
  <mat-form-field appearance="fill">
    <input type="text" matInput formControlName="agent" />
  </mat-form-field>
  <p>Endereço</p>
  <mat-form-field appearance="fill">
    <input type="text" matInput formControlName="address" />
  </mat-form-field>
  <p>Email</p>
  <mat-form-field appearance="fill">
    <input
      type="text"
      matInput
      formControlName="email"
      (blur)="checkEmailValidity()"
      [class.invalid]="isInvalidEmail"
    />
    <mat-error *ngIf="isInvalidEmail">Email inválido</mat-error>
  </mat-form-field>
  <p>Contato</p>
  <mat-form-field appearance="fill">
    <input type="text" matInput formControlName="phone" contactMask />
  </mat-form-field>
  <p>CNPJ</p>
  <mat-form-field appearance="fill">
    <input type="text" matInput formControlName="ein" cnpjMask maxlength="17" />
  </mat-form-field>
  <p>CPF</p>
  <mat-form-field appearance="fill">
    <input type="text" matInput formControlName="ssn" cpfMask />
  </mat-form-field>
  <p>RG</p>
  <mat-form-field appearance="fill">
    <input type="text" matInput formControlName="nic" maxlength="20" />
  </mat-form-field>
  <p>Categoria</p>
  <mat-form-field appearance="fill">
    <mat-select
      [(ngModel)]="selectedCategories"
      formControlName="category"
      multiple
    >
      <mat-option
        *ngFor="let category of data.categories"
        [value]="category.id"
        >{{ firstLetterOnCapital(category.name) }}</mat-option
      >
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions class="actions">
  <button mat-button class="cancel" (click)="onNoClick()">Cancelar</button>
  <button mat-button class="proceed" (click)="onClick()" cdkFocusInitial>
    Salvar
  </button>
</div>
