<!-- http://localhost:4200/admin-produtos -->
<admin-sidebar>
  <section>
    <div class="btnCreate">
      <button mat-raised-button class="btn" (click)="openCreateModal()">
        Criar
      </button>
    </div>
  </section>
  
  <mat-card>
    <mat-card-content>
      <mat-toolbar>
        <span>Produtos</span>
      </mat-toolbar>

      <table mat-table [dataSource]="products" class="mat-elevation-z8">
        <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

        <!-- id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Id</th>
          <td mat-cell *matCellDef="let products">
            {{ products.id }}
          </td>
        </ng-container>

        <!-- Nome Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Nome</th>
          <td mat-cell *matCellDef="let products">
            {{ firstLetterOnCapital(products.name) }}
          </td>
        </ng-container>

        <!-- Descrição Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Descrição</th>
          <td mat-cell *matCellDef="let products">
            {{ firstLetterOnCapital(products.description) }}
          </td>
        </ng-container>

        <!-- Código Column -->
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef>Código</th>
          <td mat-cell *matCellDef="let products">
            {{ products.code }}
          </td>
        </ng-container>

        <!-- Medida Column -->
        <ng-container matColumnDef="measure">
          <th mat-header-cell *matHeaderCellDef>Medida</th>
          <td mat-cell *matCellDef="let products">
            {{ products.measure.name }}
          </td>
        </ng-container>

        <!-- Categoria Column -->
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef>Categoria</th>
          <td mat-cell *matCellDef="let products">
            {{ firstLetterOnCapital(products.category.name) }}
          </td>
        </ng-container>

        <!-- Preço Column -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef>Preço</th>
          <td mat-cell *matCellDef="let products">
            {{ products.price }}
          </td>
        </ng-container>

        <!-- Disponivel Column -->
        <ng-container matColumnDef="available">
          <th mat-header-cell *matHeaderCellDef>Disponivel</th>
          <td mat-cell *matCellDef="let products">
            {{ products.is_available ? 'Sim' : 'Não' }}
          </td>
        </ng-container>

        <!-- Criado Column -->
        <ng-container matColumnDef="created">
          <th mat-header-cell *matHeaderCellDef>Criado</th>
          <td mat-cell *matCellDef="let products">
            {{ formatDate(products.created) }}
          </td>
        </ng-container>

        <!-- Atualizado Column -->
        <ng-container matColumnDef="updated">
          <th mat-header-cell *matHeaderCellDef>Atualizado</th>
          <td mat-cell *matCellDef="let products">
            {{ formatDate(products.updated) }}
          </td>
        </ng-container>

        <ng-container matColumnDef="editProduct">
          <th mat-header-cell *matHeaderCellDef>Editar</th>
          <td mat-cell *matCellDef="let products">
            <div class="button-container">
              <button
                class="btn"
                mat-mini-fab
                color="white"
                aria-label="Edit product"
                (click)="openEditModal(products.id)"
              >
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="deleteProduct">
          <th mat-header-cell *matHeaderCellDef>Excluir</th>
          <td mat-cell *matCellDef="let products">
            <div class="button-container">
              <button
                class="btn"
                mat-mini-fab
                aria-label="Delete product"
                (click)="deleteProduct(products.id)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</admin-sidebar>
