<main class="container">
  <mat-sidenav-container mode="side">
    <mat-sidenav opened mode="side" disableClose="true" fixedInViewport="true">
      <a href="/admin">
        <img
          src="../../../../assets/logo_defensoria_sc_preferencial_branco.png"
          alt=""
          class="logoSide"
        />
      </a>
      <mat-divider class="divider"></mat-divider>
      <mat-nav-list>
        <mat-list-item routerLink="/gerenciar-pedidos">
          <span matListItemTitle>Pedidos</span>
        </mat-list-item>
        <mat-list-item routerLink="/estoque-por-setor">
          <span matListItemTitle>Estoque</span>
        </mat-list-item>
        <mat-list-item routerLink="/setores">
          <span matListItemTitle>Setores</span>
        </mat-list-item>
        <mat-list-item routerLink="/notas">
          <span matListItemTitle>Controle de notas</span>
        </mat-list-item>
        <mat-list-item routerLink="/guias-de-entrada">
          <span matListItemTitle>Guias de entrada</span>
        </mat-list-item>
        <mat-list-item routerLink="/guias-de-saida">
          <span matListItemTitle>Guias de saída</span>
        </mat-list-item>
        <mat-list-item routerLink="/categorias">
          <span matListItemTitle>Categorias</span>
        </mat-list-item>
        <mat-list-item routerLink="/medidas">
          <span matListItemTitle>Medidas</span>
        </mat-list-item>
        <mat-list-item routerLink="/produtos">
          <span matListItemTitle>Produtos</span>
        </mat-list-item>
        <mat-list-item routerLink="/fornecedores">
          <span matListItemTitle>Fornecedores</span>
        </mat-list-item>
        <mat-list-item routerLink="/pedidos-fornecedor">
          <span matListItemTitle>Pedidos do Fornecedor</span>
        </mat-list-item>
        <mat-list-item routerLink="/atas">
          <span matListItemTitle>Atas</span>
        </mat-list-item>
        <mat-list-item routerLink="/pedido-de-AF">
          <span matListItemTitle>Pedidos de AF</span>
        </mat-list-item>
        <mat-list-item routerLink="/dispensa-de-licitacao">
          <span matListItemTitle>Dispensa de Licitação</span>
        </mat-list-item>
      </mat-nav-list>

      <button (click)="toggleReportsSection()" class="reports-button">
        <div class="reports-text">
          <span class="reports">Relatórios</span>
        </div>
        <div class="arrow-icon">
          <mat-icon *ngIf="!reportsSectionExpanded">expand_more</mat-icon>
          <mat-icon *ngIf="reportsSectionExpanded">expand_less</mat-icon>
        </div>
      </button>

      <div *ngIf="reportsSectionExpanded" class="reports-section">
        <mat-divider class="divider"></mat-divider>
        <mat-nav-list>
          <mat-list-item routerLink="/relatorio-do-contador">
            <span matListItemTitle>Relatório do Contador</span>
          </mat-list-item>
          <mat-list-item routerLink="/relatorio-de-estoque">
            <span matListItemTitle>Relatório de Estoque</span>
          </mat-list-item>
          <mat-list-item routerLink="/relatorio-do-almoxarifado">
            <span matListItemTitle>Inventário do Almoxarifado</span>
          </mat-list-item>
        </mat-nav-list>
      </div>

      <button (click)="toggleUserSection()" class="account-button">
        <div class="account-icon">
          <mat-icon class="icon">account_circle</mat-icon>
        </div>
        <div class="account-text">
          <span *ngIf="userName" class="account">{{ userName }}</span>
        </div>
        <div class="user-arrow-icon">
          <mat-icon *ngIf="!userSectionExpanded">expand_more</mat-icon>
          <mat-icon *ngIf="userSectionExpanded">expand_less</mat-icon>
        </div>
      </button>

      <div *ngIf="userSectionExpanded" class="user-section">
        <mat-divider class="divider"></mat-divider>
        <mat-nav-list>
          <mat-list-item routerLink="/enviar-email">
            <span matListItemTitle>Enviar Email</span>
          </mat-list-item>
          <mat-list-item (click)="resetPassword()">
            <span matListItemTitle>Alterar Senha</span>
          </mat-list-item>
          <mat-list-item (click)="logout()">
            <span matListItemTitle>Sair</span>
          </mat-list-item>
        </mat-nav-list>
      </div>
    </mat-sidenav>
    <mat-sidenav-content> <ng-content></ng-content> </mat-sidenav-content>
  </mat-sidenav-container>
</main>
