<main class="container">
  <mat-sidenav-container mode="side">
    <mat-sidenav opened mode="side" disableClose="true" fixedInViewport="true">
      <a href="/admin">
        <img
          src="../../../../assets/logo_defensoria_sc_preferencial_branco.png"
          alt=""
          class="logoSide"
        />
      </a>
      <mat-divider class="divider"></mat-divider>

      <button
        (click)="toggleSection('account')"
        class="account-button"
        [class.transform-active]="sections.account"
      >
        <div class="account-icon">
          <mat-icon class="icon">account_circle</mat-icon>
        </div>
        <div class="account-text">
          <span *ngIf="userName" class="account">{{ userName }}</span>
        </div>
        <div class="user-arrow-icon">
          <mat-icon>{{
            sections.account ? 'expand_less' : 'expand_more'
          }}</mat-icon>
        </div>
      </button>

      <div *ngIf="sections.account" class="user-section">
        <mat-nav-list>
          <mat-list-item (click)="resetPassword()" class="linkButton">
            <span>Alterar Senha</span>
          </mat-list-item>
          <mat-list-item (click)="logout()" class="linkButton">
            <span>Sair</span>
          </mat-list-item>
        </mat-nav-list>
        <mat-divider class="divider"></mat-divider>
      </div>

      <button
        (click)="toggleSection('product')"
        class="account-button"
        [class.transform-active]="sections.product"
      >
        <div class="account-icon">
          <mat-icon class="icon">dns</mat-icon>
        </div>
        <div class="account-text">
          <span class="account">Produtos</span>
        </div>
        <div class="user-arrow-icon">
          <mat-icon>{{
            sections.product ? 'expand_less' : 'expand_more'
          }}</mat-icon>
        </div>
      </button>

      <div *ngIf="sections.product" class="user-section">
        <mat-nav-list>
          <mat-list-item class="linkButton" routerLink="/categorias">
            <span>Categorias</span>
          </mat-list-item>
          <mat-list-item class="linkButton" routerLink="/medidas">
            <span>Medidas</span>
          </mat-list-item>
          <mat-list-item class="linkButton" routerLink="/produtos">
            <span>Produtos</span>
          </mat-list-item>
        </mat-nav-list>
        <mat-divider class="divider"></mat-divider>
      </div>

      <button
        (click)="toggleSection('inventory')"
        class="account-button"
        [class.transform-active]="sections.inventory"
      >
        <div class="account-icon">
          <mat-icon class="icon">dashboard</mat-icon>
        </div>
        <div class="account-text">
          <span class="account">Inventário</span>
        </div>
        <div class="user-arrow-icon">
          <mat-icon>{{
            sections.inventory ? 'expand_less' : 'expand_more'
          }}</mat-icon>
        </div>
      </button>

      <div *ngIf="sections.inventory" class="user-section">
        <mat-nav-list>
          <mat-list-item class="linkButton" routerLink="/estoque-por-setor">
            <span>Estoque</span>
          </mat-list-item>
          <mat-list-item class="linkButton" routerLink="/guias-de-entrada">
            <span>Guias de entrada</span>
          </mat-list-item>
          <mat-list-item class="linkButton" routerLink="/guias-de-saida">
            <span>Guias de saída</span>
          </mat-list-item>
        </mat-nav-list>
        <mat-divider class="divider"></mat-divider>
      </div>

      <button
        (click)="toggleSection('order')"
        class="account-button"
        [class.transform-active]="sections.order"
      >
        <div class="account-icon">
          <mat-icon class="icon">list</mat-icon>
        </div>
        <div class="account-text">
          <span class="account">Pedidos</span>
        </div>
        <div class="user-arrow-icon">
          <mat-icon>{{
            sections.order ? 'expand_less' : 'expand_more'
          }}</mat-icon>
        </div>
      </button>

      <div *ngIf="sections.order" class="user-section">
        <mat-nav-list>
          <mat-list-item class="linkButton" routerLink="/gerenciar-pedidos">
            <span>Pedidos</span>
          </mat-list-item>
          <mat-list-item class="linkButton" routerLink="/pedidos-fornecedor">
            <span>Pedidos do Fornecedor</span>
          </mat-list-item>
          <mat-list-item class="linkButton" routerLink="/pedido-de-AF">
            <span>Pedidos de AF</span>
          </mat-list-item>
        </mat-nav-list>
        <mat-divider class="divider"></mat-divider>
      </div>

      <button
        (click)="toggleSection('administration')"
        class="account-button"
        [class.transform-active]="sections.administration"
      >
        <div class="account-icon">
          <mat-icon class="icon">manage_accounts</mat-icon>
        </div>
        <div class="account-text">
          <span class="account">Administração</span>
        </div>
        <div class="user-arrow-icon">
          <mat-icon>{{
            sections.administration ? 'expand_less' : 'expand_more'
          }}</mat-icon>
        </div>
      </button>

      <div *ngIf="sections.administration" class="user-section">
        <mat-nav-list>
          <mat-list-item class="linkButton" routerLink="/setores">
            <span>Setores</span>
          </mat-list-item>
          <mat-list-item class="linkButton" routerLink="/notas">
            <span>Controle de notas</span>
          </mat-list-item>
          <mat-list-item class="linkButton" routerLink="/atas">
            <span>Atas</span>
          </mat-list-item>
          <mat-list-item class="linkButton" routerLink="/dispensa-de-licitacao">
            <span>Dispensa de Licitação</span>
          </mat-list-item>
          <mat-list-item class="linkButton" routerLink="/enviar-email">
            <span>Enviar Email</span>
          </mat-list-item>
        </mat-nav-list>
        <mat-divider class="divider"></mat-divider>
      </div>

      <button
        (click)="toggleSection('supplier')"
        class="account-button"
        [class.transform-active]="sections.supplier"
      >
        <div class="account-icon">
          <mat-icon class="icon">co_present</mat-icon>
        </div>
        <div class="account-text">
          <span class="account">Fornecedores</span>
        </div>
        <div class="user-arrow-icon">
          <mat-icon>{{
            sections.supplier ? 'expand_less' : 'expand_more'
          }}</mat-icon>
        </div>
      </button>

      <div *ngIf="sections.supplier" class="user-section">
        <mat-nav-list>
          <mat-list-item class="linkButton" routerLink="/fornecedores">
            <span>Fornecedores</span>
          </mat-list-item>
        </mat-nav-list>
        <mat-divider class="divider"></mat-divider>
      </div>

      <button
        (click)="toggleSection('reports')"
        class="account-button"
        [class.transform-active]="sections.reports"
      >
        <div class="account-icon">
          <mat-icon class="icon">description</mat-icon>
        </div>
        <div class="account-text">
          <span class="account">Relatórios</span>
        </div>
        <div class="user-arrow-icon">
          <mat-icon>{{
            sections.reports ? 'expand_less' : 'expand_more'
          }}</mat-icon>
        </div>
      </button>

      <div *ngIf="sections.reports" class="user-section">
        <mat-nav-list>
          <mat-list-item class="linkButton" routerLink="/relatorio-do-contador">
            <span>Relatório do Contador</span>
          </mat-list-item>
          <mat-list-item class="linkButton" routerLink="/relatorio-de-estoque">
            <span>Relatório de Estoque</span>
          </mat-list-item>
          <mat-list-item
            class="linkButton"
            routerLink="/relatorio-do-almoxarifado"
          >
            <span>Inventário do Almoxarifado</span>
          </mat-list-item>
        </mat-nav-list>
        <mat-divider class="divider"></mat-divider>
      </div>
    </mat-sidenav>
    <mat-sidenav-content> <ng-content></ng-content> </mat-sidenav-content>
  </mat-sidenav-container>
</main>
