<user-sidebar>
  <mat-card>
    <mat-card-content>
      <mat-toolbar>
        <span>Estoque</span>
      </mat-toolbar>

      <table
        mat-table
        [dataSource]="apiResponse?.stock_items"
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Produto</th>
          <td mat-cell *matCellDef="let stock">
            {{ firstLetterOnCapital(stock.product.name) }}
          </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Descrição</th>
          <td mat-cell *matCellDef="let stock">
            {{ stock.product.description }}
          </td>
        </ng-container>

        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef>Quantidade</th>
          <td mat-cell *matCellDef="let stock">{{ stock.quantity }}</td>
        </ng-container>

        <ng-container matColumnDef="measure">
          <th mat-header-cell *matHeaderCellDef>Medida</th>
          <td mat-cell *matCellDef="let stock">
            {{ stock.product.measure.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="entries">
          <th mat-header-cell *matHeaderCellDef>Entradas</th>
          <td mat-cell *matCellDef="let stock">
            <div class="button-container">
              <button
                class="btn"
                mat-mini-fab
                color="white"
                aria-label="Stock Entries"
                (click)="navToStockItemEntries(stock.id)"
              >
                <mat-icon>archive</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="withdrawals">
          <th mat-header-cell *matHeaderCellDef>Saídas</th>
          <td mat-cell *matCellDef="let stock">
            <div class="button-container">
              <button
                class="btn"
                mat-mini-fab
                color="white"
                aria-label="Stock Exits"
                (click)="navToStockItemWithdrawals(stock.id)"
              >
                <mat-icon>unarchive</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <app-user-pagination
        [currentPage]="currentPage"
        [apiResponse]="apiResponse"
        (pageChange)="onPageChange($event)"
        [page]="page"
      ></app-user-pagination>
    </mat-card-content>
  </mat-card>
</user-sidebar>
