<user-sidebar>
  <mat-card *ngIf="!loading">
    <mat-card-content>
      <mat-toolbar>
        <span>Pedidos</span>
      </mat-toolbar>

      <table mat-table [dataSource]="response" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="sent">
          <th mat-header-cell *matHeaderCellDef>Enviado</th>
          <td mat-cell *matCellDef="let orders">
            {{ orders.is_sent ? 'Sim' : 'Não' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="partAdded">
          <th mat-header-cell *matHeaderCellDef>
            Parcialmente Adicionado ao Estoque
          </th>
          <td mat-cell *matCellDef="let orders">
            {{ orders.partially_added_to_stock ? 'Sim' : 'Não' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="compAdded">
          <th mat-header-cell *matHeaderCellDef>
            Completamente Adicionado ao Estoque
          </th>
          <td mat-cell *matCellDef="let orders">
            {{ orders.completely_added_to_stock ? 'Sim' : 'Não' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="created">
          <th mat-header-cell *matHeaderCellDef>Criado</th>
          <td mat-cell *matCellDef="let orders">
            {{ formatDate(orders.created) }}
          </td>
        </ng-container>

        <ng-container matColumnDef="updated">
          <th mat-header-cell *matHeaderCellDef>Atualizado</th>
          <td mat-cell *matCellDef="let orders">
            {{ formatDate(orders.updated) }}
          </td>
        </ng-container>

        <ng-container matColumnDef="oderItems">
          <th mat-header-cell *matHeaderCellDef>Itens</th>
          <td mat-cell *matCellDef="let orders">
            <div class="button-container">
              <button
                color="x"
                class="btn"
                mat-mini-fab
                aria-label="List order items"
                [routerLink]="['/pedidos/itens/', orders.id]"
              >
                <mat-icon>list</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="deleteOrder">
          <th mat-header-cell *matHeaderCellDef>Excluir</th>
          <td mat-cell *matCellDef="let orders">
            <div class="button-container">
              <button
                class="btn"
                mat-mini-fab
                aria-label="Delete order"
                [disabled]="
                  orders.completely_added_to_stock ||
                  orders.partially_added_to_stock
                "
                (click)="deleteOrder(orders.id)"
              >
                <mat-icon [class.custom-spinner]="loadingOrderId === orders.id"
                  >delete</mat-icon
                >
              </button>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="confirmation">
          <th mat-header-cell *matHeaderCellDef>Confirmar Entrega</th>
          <td mat-cell *matCellDef="let orders">
            <div class="button-container">
              <mat-checkbox
                [checked]="orders.completely_added_to_stock"
                [disabled]="orders.completely_added_to_stock"
                (click)="openModal(orders.id)"
                class="checkbox"
              ></mat-checkbox>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <app-user-pagination
        [currentPage]="currentPage"
        [response]="response"
        (pageChange)="onPageChange($event)"
        [page]="page"
      ></app-user-pagination>
    </mat-card-content>
  </mat-card>
</user-sidebar>
<div class="initial-custom-spinner" *ngIf="loading"></div>
