<common-sidebar>
  <mat-card admin>
    <mat-card-content>
      <mat-toolbar>
        <span>Itens do Pedido</span>
      </mat-toolbar>

      <table
        mat-table
        [dataSource]="response?.results"
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Id</th>
          <td mat-cell *matCellDef="let orderItem">{{ orderItem.id }}</td>
        </ng-container>

        <ng-container matColumnDef="product">
          <th mat-header-cell *matHeaderCellDef>Produto</th>
          <td mat-cell *matCellDef="let orderItem">
            {{ firstLetterOnCapital(orderItem.product.name) }}
          </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Descrição</th>
          <td mat-cell *matCellDef="let orderItem">
            {{ orderItem.product.description }}
          </td>
        </ng-container>

        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef>Quantidade</th>
          <td mat-cell *matCellDef="let orderItem">
            <mat-form-field appearance="fill" class="small-input">
              <input
                [disabled]="orderItem.quantity === orderItem.added_quantity"
                matInput
                [(ngModel)]="orderItem.quantity"
                name="quantity"
                [type]="'number'"
                placeholder="Quantidade"
                appDigitLimit
                decimalNotAllowed
                [ngModelOptions]="{ standalone: true }"
                [ngModel]="orderItem.quantity"
                negativeNotAllowed
              />
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="added_quantity">
          <th mat-header-cell *matHeaderCellDef>Quantidade Adicionada</th>
          <td mat-cell *matCellDef="let orderItem">
            {{ orderItem.added_quantity }}
          </td>
        </ng-container>

        <ng-container matColumnDef="measure">
          <th mat-header-cell *matHeaderCellDef>Medida</th>
          <td mat-cell *matCellDef="let orderItem">
            {{ orderItem.product.measure.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="supplier">
          <th mat-header-cell *matHeaderCellDef>Fornecedor</th>
          <td mat-cell *matCellDef="let orderItem">
            <mat-form-field appearance="fill">
              <mat-select
                [disabled]="orderItem.quantity === orderItem.added_quantity"
                [(value)]="orderItem.supplier && orderItem.supplier.id"
                (selectionChange)="
                  onSupplierSelectionChange(orderItem, $event.value)
                "
                name="supplier"
              >
                <mat-option
                  *ngFor="let supplier of suppliers"
                  [value]="supplier.id"
                >
                  {{ supplier.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="supplier_quantity">
          <th mat-header-cell *matHeaderCellDef>Quantidade do Fornecedor</th>
          <td mat-cell *matCellDef="let orderItem">
            <mat-form-field appearance="fill" class="small-input">
              <input
                matInput
                [value]="orderItem.supplier_quantity"
                name="supplier_quantity"
                [type]="'number'"
                [formControl]="supplierQuantityControls[orderItem.id]"
                (input)="orderItem.supplier_quantity = $event.target.value"
                decimalNotAllowed
                appDigitLimit
                negativeNotAllowed
              />
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Salvar</th>
          <td mat-cell *matCellDef="let orderItem">
            <button
              [disabled]="orderItem.quantity === orderItem.added_quantity"
              mat-mini-fab
              class="btn"
              (click)="saveItem(orderItem)"
            >
              <mat-icon>save</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="deleteOrderItem">
          <th mat-header-cell *matHeaderCellDef>Excluir</th>
          <td mat-cell *matCellDef="let orderItem">
            <div class="button-container">
              <button
                [disabled]="orderItem.added_quantity > 0"
                class="btn"
                mat-mini-fab
                aria-label="Delete"
                (click)="deleteItem(orderItem.id)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <app-pagination
        [currentPage]="currentPage"
        [response]="response"
        (pageChange)="onPageChange($event)"
      ></app-pagination>
    </mat-card-content>
  </mat-card>
</common-sidebar>
