@import '../../../../../colors.scss';

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.snackbar-success {
  background-color: green;
  color: white;
}

.snackbar-error {
  background-color: red;
  color: white;
}

.btn {
  background-color: $primary-color;
  color: $primary-text-color;
}

.btn:disabled {
  background-color: $primary-color-disabled;
  color: $primary-text-color-disabled;
}

.small-input {
  width: 100px;
}

.invalid-input {
  color: red;
}
