<common-sidebar>
  <mat-card user>
    <mat-card-content>
      <mat-toolbar>
        <span>Entradas</span>
      </mat-toolbar>

      <table
        mat-table
        [dataSource]="response?.results"
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef>Quantidade</th>
          <td mat-cell *matCellDef="let entry">{{ entry.entry_quantity }}</td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Data</th>
          <td mat-cell *matCellDef="let entry">
            {{ this.Helper.formatDate(entry.entry_date) }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <app-user-pagination
        [currentPage]="currentPage"
        [response]="response"
        (pageChange)="
          this.Helper.onPageChange(
            this.currentPage,
            $event,
            this.getContent,
            this.stockItemId
          )
        "
        [page]="page"
      ></app-user-pagination>
    </mat-card-content>
  </mat-card>
</common-sidebar>
