<main class="container">
  <mat-sidenav-container mode="side">
    <mat-sidenav opened mode="side" disableClose="true" fixedInViewport="true">
      <a href="/">
        <img
          src="../../../../assets/logo_defensoria_sc_preferencial_branco.png"
          alt="Logo da defensoria pública"
          class="logoSide"
        />
      </a>
      <mat-divider class="divider"></mat-divider>

      <button
        (click)="toggleSection('account')"
        class="account-button"
        [class.transform-active]="sections.account"
      >
        <div class="account-icon">
          <mat-icon class="icon">account_circle</mat-icon>
        </div>
        <div class="account-text">
          <span *ngIf="userName" class="account">{{ userName }}</span>
        </div>
        <div class="arrow-icon">
          <mat-icon>{{
            sections.account ? 'expand_less' : 'expand_more'
          }}</mat-icon>
        </div>
      </button>
      <div *ngIf="sections.account" class="user-section">
        <mat-nav-list>
          <mat-list-item
            (click)="resetPassword()"
            class="linkButton"
            [ngClass]="{ 'current-page': isCurrentRoute('/mudar-senha-user') }"
          >
            <span>Alterar Senha</span>
          </mat-list-item>
          <mat-list-item (click)="logout()" class="linkButton">
            <span>Sair</span>
          </mat-list-item>
        </mat-nav-list>
        <mat-divider class="divider"></mat-divider>
      </div>

      <mat-nav-list>
        <mat-list-item
          routerLink="/criar-pedido"
          class="linkButton"
          [ngClass]="{ 'current-page': isCurrentRoute('/criar-pedido') }"
        >
          <span>Criar Pedido</span>
        </mat-list-item>
        <mat-list-item
          routerLink="/pedidos"
          class="linkButton"
          [ngClass]="{ 'current-page': isCurrentRoute('/pedidos') }"
        >
          <span>Pedidos</span>
        </mat-list-item>
        <mat-list-item
          routerLink="/estoque"
          class="linkButton"
          [ngClass]="{ 'current-page': isCurrentRoute('/estoque') }"
        >
          <span>Estoque</span>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content> <ng-content></ng-content> </mat-sidenav-content>
  </mat-sidenav-container>
</main>
