//Primary color
$ailos-blue: #165c7d;

//Secondary color
$ailos-orange: #ffa300;

//Complementary color
$light-blue-ailos: #009ed0;
$green-ailos: #00c246;
$intermediate-blue-ailos: #007d8a;

//Criticity scale
$critic-red: #c13018;
$critic-orange: #ffa300;
$critic-yellow: #fcd610;
$critic-green: #00c246;
$critic-blue: #009ed0;

//Gray scale
$ailos-black: #040f14;
$gray-4: #889499;
$gray-3: #a7b0b5;
$gray-2: #c6ced1;
$gray-1: #e7eef1;
$white: #ffffff;
$pattens-blue: #e7eef1;

//Tonal variation
$background: #e8eff2;
$ailos-blue-140: #012f44;
$ailos-blue-120: #013f5c;
$ailos-blue-100: #165c7d;
$ailos-blue-80: #457d97;
$ailos-blue-60: #739db1;
$ailos-blue-40: #a2becb;
$ailos-blue-20: #d0dee5;
$ailos-orange-120: #c37d00;
$ailos-orange-100: #ffa300;
$ailos-orange-80: #ffb533;
$ailos-orange-60: #ffc866;
$ailos-orange-40: #ffda99;
$ailos-orange-20: #ffedcc;

//Neutral tones
$neutral-10: #101213;
$neutral-8: #4f575e;
$subtle-text-color: #787878;
