<user-sidebar>
  <mat-card>
    <mat-card-content>
      <mat-toolbar>
        <span>Itens do Pedido</span>
      </mat-toolbar>

      <table
        mat-table
        [dataSource]="response?.results"
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="product">
          <th mat-header-cell *matHeaderCellDef>Produto</th>
          <td mat-cell *matCellDef="let orderItems">
            {{ firstLetterOnCapital(orderItems.product.name) }}
          </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Descrição</th>
          <td mat-cell *matCellDef="let orderItems">
            {{ orderItems.product.description }}
          </td>
        </ng-container>

        <ng-container matColumnDef="measure">
          <th mat-header-cell *matHeaderCellDef>Medida</th>
          <td mat-cell *matCellDef="let orderItems">
            {{ orderItems.product.measure.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef>Quantidade</th>
          <td mat-cell *matCellDef="let orderItems">
            {{ orderItems.quantity }}
          </td>
        </ng-container>

        <ng-container matColumnDef="added_quantity">
          <th mat-header-cell *matHeaderCellDef>Quantidade Adicionada</th>
          <td mat-cell *matCellDef="let orderItems">
            {{ orderItems.added_quantity }}
          </td>
        </ng-container>

        <ng-container matColumnDef="edit_order_item">
          <th mat-header-cell *matHeaderCellDef>Editar</th>
          <td mat-cell *matCellDef="let orderItems">
            <div class="button-container">
              <button
                class="btn"
                mat-mini-fab
                color="white"
                aria-label="Edit order item"
                [disabled]="orderItems.quantity === orderItems.added_quantity"
                (click)="openEditModal(orderItems.id, orderItems.added_quantity)"
              >
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="delete_order_item">
          <th mat-header-cell *matHeaderCellDef>Excluir</th>
          <td mat-cell *matCellDef="let orderItems">
            <div class="button-container">
              <button
                [disabled]="orderItems.added_quantity > 0"
                class="btn"
                mat-mini-fab
                aria-label="Delete order item"
                (click)="deleteOrderItem(orderItems.id)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <app-user-pagination
        [currentPage]="currentPage"
        [response]="response"
        (pageChange)="onPageChange($event)"
        [page]="page"
      ></app-user-pagination>
    </mat-card-content>
  </mat-card>
</user-sidebar>
