<h1 mat-dialog-title>Criar dispensa de licitação</h1>
<div [formGroup]="formBiddingExemption" mat-dialog-content class="content">
  <p>Produto</p>
  <mat-form-field appearance="fill">
    <mat-select formControlName="product">
      <mat-option *ngFor="let product of data.products" [value]="product.id">{{
        firstLetterOnCapital(product.description)
      }}</mat-option>
    </mat-select>
  </mat-form-field>
  <p>Quantidade</p>
  <mat-form-field appearance="fill">
    <input
      type="number"
      matInput
      formControlName="quantity"
      appDigitLimit
      negativeNotAllowed
    />
  </mat-form-field>
  <p>Estoque</p>
  <mat-form-field appearance="fill">
    <mat-select formControlName="stock">
      <mat-option *ngFor="let stock of data.stocks" [value]="stock.id">{{
        stock.sector
      }}</mat-option>
    </mat-select>
  </mat-form-field>
  <p>Nota fiscal</p>
  <mat-form-field appearance="fill">
    <mat-select formControlName="invoice">
      <mat-option *ngFor="let invoice of data.invoices" [value]="invoice.id">{{
        invoice.code
      }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions class="actions">
  <button mat-button class="cancel" (click)="onNoClick()">Cancelar</button>
  <button
    mat-button
    class="proceed"
    (click)="onClick()"
    cdkFocusInitial
    [disabled]="
      this.formBiddingExemption.invalid ||
      this.formBiddingExemption.get('quantity')?.value === 0
    "
  >
    Criar
  </button>
</div>
